/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* Estilos del Navbar */
.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #ffffff;
}

.nav-link.active, .nav-link:hover {
    color: #ffcc00;
}

/* Estilos del Header */
header {
    background-color: #6c757d;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

header p.lead {
    font-size: 1.5rem;
}

header .danger-btn {
    margin-top: 20px;
    padding: 10px 30px;
    color: white;
    background-color: #ff4444;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
}

/* Estilos de la sección "Sobre mí" */
#about {
    padding: 60px 0;
}

#about img {
    border-radius: 10px;
}

/* Estilos de la sección "Proyectos" */
#projects .card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

#projects .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Estilos de la sección "Contacto" */
#contact {
    padding: 60px 0;
}

#contact .form-control {
    border-radius: 0;
    box-shadow: none;
}

/* Estilos del footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
}

footer p {
    margin-top: 20px;
    font-size: 0.9rem;
}

.redes {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

i {
    text-align: center;
    font-size: 25%;
    color: black;
    margin: 20%;
    border-radius: 50%;
    padding: 15%;
    box-shadow: 0px, 5px, 10px rgb(0, 0, 0, .35);
    transition: .5s ease;
} 

.fa-youtube:hover {
    background-color: red;
    color: beige;
    box-shadow: 0 0 15px red,
                0 0 45px red,
                0 0 75px red,
                0 0 115px red;
}

